<a
  routerLink="/details/{{ isTvShow ? MovieType.TV : MovieType.Movie }}/{{
    isTvShow ? tvShow?.id : movie?.id
  }}"
  *ngIf="movie || tvShow"
  class="card"
>
  <div class="card-rating">
    <i class="pi pi-star-fill"></i>
    <span>{{
      (isTvShow ? tvShow?.vote_average : movie?.vote_average) | roundUp
    }}</span>
    <span>/10</span>
  </div>
  <div class="card-image">
    <img
      [src]="
        isTvShow
          ? posterUrl + tvShow?.backdrop_path
          : posterUrl + movie?.backdrop_path
      "
      [alt]="isTvShow ? tvShow?.name : movie?.title"
    />
  </div>
  <div class="card-title">
    <p class="card-title">
      {{ isTvShow ? tvShow?.original_name : movie?.original_title }}
    </p>
  </div>
</a>
