<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        src="https://hips.hearstapps.com/digitalspyuk.cdnds.net/17/25/1498134404-transformers-dark-of-the-moon-bumblebee-poster.jpg?crop=0.8888888888888888xw:1xh;center,top&resize=1200:*"
        alt=""
      />
    </div>

    <div class="slide-pane">
      <h2 class="title mb-5">Slider Ttile</h2>
      <div class="meta mb-4">
        <div class="rating mb-1">
          <i>star-icon</i>
          <span>8.9</span>
          <span>/10</span>
        </div>

        <div class="votes mb-1">
          <i>vote-icon</i>
          <span>4433</span>
        </div>

        <div class="release-date">20.06.2024</div>
      </div>
      <div class="description">some description text</div>
    </div>
  </div>
</div>
