<app-slider></app-slider>
<ng-container *ngIf="upcomingMovies$ | async as upcomingMovies">
  <app-banner header="Upcoming Movies" [movies]="upcomingMovies"></app-banner>
</ng-container>
<ng-container *ngIf="topRatedMovies$ | async as topRatedMovies">
  <app-banner header="Top Rated Movies" [movies]="topRatedMovies"></app-banner>
</ng-container>
<ng-container *ngIf="topRatedTvShows$ | async as topRatedTvShows">
  <app-banner
    header="Top Rated Tv Shows"
    [tvShows]="topRatedTvShows"
    [isTvShow]="true"
  ></app-banner>
</ng-container>
